
/* style.css */
:root {
  color-scheme: light dark;
  --duration: 0.5s;
  --timing: ease;

  --color: #0c0f0a;
  /* TODO: not used */
  --link-color: rgb(220, 0, 78);
  /* MEMO: inspired by https://web.dev/prefers-color-scheme/#avoid-pure-white */
  --palette-background-default: #fafafa;
  --palette-text-primary: rgba(0, 0, 0, 0.87);
  --palette-text-secondary: rgba(0, 0, 0, 0.54);
  --palette-text-hint: rgba(0, 0, 0, 0.38);
  --palette-divider: rgba(0, 0, 0, 0.12);
  /* TODO: not used */
  --palette-action-active: rgba(0, 0, 0, 0.54);
  --palette-action-hover: rgba(0, 0, 0, 0.04);
  --palette-background-paper: #fff;
}

body {
  color: var(--color);
  background-color: var(--palette-background-default);
  /* MEMO: inspired by https://web.dev/prefers-color-scheme/#smooth-transitions-between-modes */
  transition: color var(--duration) var(--timing), background-color var(--duration) var(--timing);
}

.dark {
  --color: #fafafa;
  /* MEMO: drop image filter in the dark mode for now */
  --image-filter: grayscale(0%);

  /* TODO: not used */
  /* pink 200 from https://material-ui.com/customization/color/ */
  --link-color: #f48fb1;

  --palette-background-default: #303030;
  --palette-text-primary: #fff;
  --palette-text-secondary: rgba(255, 255, 255, 0.7);
  --palette-text-hint: rgba(255, 255, 255, 0.5);
  --palette-divider: rgba(255, 255, 255, 0.12);

  /* TODO: not used */
  --palette-action-active: #fff;
  --palette-action-hover: rgba(255, 255, 255, 0.08);

  --palette-background-paper: #424242;
}

/* MEMO: inspired by https://web.dev/prefers-color-scheme/#re-colorize-and-darken-photographic-images */
.dark img:not([src*=".svg"]) {
  filter: var(--image-filter);
}
